
<!doctype html>
<html>
<head>

  <!-- Materialize Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

  <link href="C:\Users\noel2\Documents\Arquitectura de Soft\ProyectoLoteria\Loteria\WebpageServer\client\css\ActiveGameRoom.css" rel="stylesheet">

  <title>Game Room</title>
</head>
<body ng-app="app">


<h4 style="text-align: center"> Current Lottery Cards</h4>
<section class="container">

  <div class="row">

        <div class="col s12 m12 l2" style="float:left;">
          <div class="left-align">
              <div class="col s12 m6 l2"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
          </div>

        </div>

        <div class="center-align">
            <div class ="col s12 m12 l8" >

              <div class="row">
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
              </div>
              <div class="row">
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
              </div>
              <div class="row">
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
                <div class="col s12 m6 l3"><p> <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/> </p></div>
              </div>

            </div>
          </div>

        <div class ="col s12 m12 l2">
          <div class="valignr" >
            <div class="right-align;">
              <a class="waves-effect waves-light btn">Lottery!</a>
            </div>
          </div>
        </div>

  </div>

</section>

</body>
</html>
