<nav class="header-section">
   <div class="nav-wrapper grey darken-3">
     <a href="#!" class="brand-logo"><i class="material-icons left">games</i> Game Rooms</a>
     <ul class="right hide-on-med-and-down">
     </ul>
   </div>
 </nav>

<sectio>
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
        <ul class="collection">
         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 45</span>
           <p>4 of 5 <br><b>Owner:</b> Chechare</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
         <!-- Dummy game rooms... -------------------------------------------------------->

         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 69</span>
           <p>2 of 5 <br><b>Owner:</b> Guazaman</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 42</span>
           <p>1 of 5 <br><b>Owner:</b> Kimberluka</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 85</span>
           <p>3 of 5 <br><b>Owner:</b> Luna Crecent</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 33</span>
           <p>1 of 5 <br><b>Owner:</b>Cesar</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
         <li class="collection-item avatar">
           <img src="img/default-avatar.png" alt="" class="circle">
           <span class="title">Game Room 66</span>
           <p>3 of 5 <br><b>Owner:</b> NrML</p>
           <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
         </li>
      </div>
    </div>
  </div>
</section>
