<nav class="header-section">
  <div class="nav-wrapper grey darken-3">
    <a href="#!" class="brand-logo"><i class="material-icons left">games</i> Game Rooms</a>
    <ul class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

<section>
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col s12 m12 l12 right-align">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn" data-target='modalRoom' modal>New GameRoom</a>
      </div>
      <div class="col s12 m12 l12">
        <div class="card ">
          <div class="card-content">
            <span class="card-title">Available Game Rooms</span>
            <div class="center-align yellow-text" ng-show='statusPage==404'>
              <i class="material-icons large">warning</i>  <h3>   Sorry, there are not Gamerooms available for the moment. :( </h3>
            </div>
            <div class="rooms-list" ng-repeat = "gameRoom in gameRooms">
              <div ng-if="gameRoom.status == 'Waiting'">
                <ul class="collection">
                  <li class="collection-item avatar">
                    <img src="img/default-avatar.png" alt="" class="circle">
                    <span class="title">{{gameRoom.name}}</span>
                    <p>{{gameRoom.players.length}} of {{gameRoom.maxPlayers}} <br><b>Owner:</b> {{gameRoom.ownerId}}</p>
                    <p>{{gameRoom.type}}</p>
                    <a class="secondary-content waves-effect waves-light btn btn-small" ng-click="joinRoom($index)">Join</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal Structure -->
<div id="modalRoom" class="modal">
  <div class="modal-content">
    <h4>New GameRoom</h4>

    <div class="row">
      <form class="" action="#">
        <div class="col s12 m6 l6">
          <div class="input-field col s12 m12 l12">
            <input id="game_id" type="text" class="validate" ng-model="gameRoomName" required>
            <label for="game_id"> Room Name</label>
          </div>

          <div class="col s12 m12 l12" material-select watch>
            <label for="numberPlayers">Number of players</label>
            <select id="numberPlayers" class="" ng-model="gameRoomMaxPlayers" material-select watch>
              <option ng-repeat="value in values">{{value}}</option>
            </select>
          </div>
          <div class="col s12 m12 l12 center-align">
            <p>
              <input name="group1" type="radio" id="test1" ng-model="gameRoomType" value="private"/>
              <label for="test1">Private</label>
              <input name="group1" type="radio" id="test2" ng-model="gameRoomType" value="public"/>
              <label for="test2">Public</label>
            </p>
          </div>
        </div>

        <div class="col s12 m6 l6">
          <ul class="collection with-header friend-list-select" ng-hide="gameRoomType == 'public'">
            <li class="collection-header"><h6>Invite friends</h6></li>
            <li class="collection-item" ng-repeat="friend in friends">
              <p>
                <input type="checkbox" id="c-{{friend.name}}" checklist-model="selectedFriends" checklist-value="friend.name"/>
                <label for="c-{{friend.name}}">{{friend.name}}</label>
              </p>
            </li>
          </ul>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a class="waves-effect waves-light btn" ng-click = "createNewGameController()">Create game</a>
    </div>
  </div>
</div>
