
<!doctype html>
<html>
<head>

  <!-- Materialize Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>

  <link href="C:\Users\noel2\Documents\Arquitectura de Soft\ProyectoLoteria\Loteria\WebpageServer\client\css\ActiveGameRoom.css" rel="stylesheet">

  <title>Game Room</title>
</head>
<body ng-app="app">


<section>

  <div class="row"></div>
  <div class="row"></div>

    <div class="row">
      <div class="col s12 m2 l1 xl2 offset-l1 offset-xl1 center-align ">
        <div class="col s12 m12 l12 card-panel">
          <h5> Current Card</h5>
          <img class="responsive-img" src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg"/>
          <div class="progress">
              <div class="determinate" style="width: 70%"></div>
          </div>
        </div>
      </div>

      <div class ="col s12 m8 l6 xl4 offset-l1 offset-xl1 center-align card" >
        <div class="card-content cardboard">
          <span class="card-title">Loteria.io</span>
          <div class="row">
            <div class="col s6 m3 l3" ng-click='cardboard[0][0].clicked = !cardboard[0][0].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[0][0].clicked}" src="img/cards/{{cardboard[0][0].name}}.jpg"/></div>
            <div class="col s6 m3 l3"  ng-click='cardboard[0][1].clicked = !cardboard[0][1].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[0][1].clicked}" src="img/cards/{{cardboard[0][1].name}}.jpg"/></div>
            <div class="col s6 m3 l3"  ng-click='cardboard[0][2].clicked = !cardboard[0][2].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[0][2].clicked}" src="img/cards/{{cardboard[0][2].name}}.jpg"/></div>
            <div class="col s6 m3 l3"  ng-click='cardboard[0][3].clicked = !cardboard[0][3].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[0][3].clicked}" src="img/cards/{{cardboard[0][3].name}}.jpg"/></div>
          </div>
          <div class="row">
            <div class="col s6 m3 l3" ng-click='cardboard[1][0].clicked = !cardboard[1][0].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[1][0].clicked}" src="img/cards/{{cardboard[1][0].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[1][1].clicked = !cardboard[1][1].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[1][1].clicked}" src="img/cards/{{cardboard[1][1].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[1][2].clicked = !cardboard[1][2].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[1][2].clicked}" src="img/cards/{{cardboard[1][2].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[1][3].clicked = !cardboard[1][3].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[1][3].clicked}" src="img/cards/{{cardboard[1][3].name}}.jpg"/></div>
          </div>
          <div class="row">
            <div class="col s6 m3 l3" ng-click='cardboard[2][0].clicked = !cardboard[2][0].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[2][0].clicked}" src="img/cards/{{cardboard[2][0].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[2][1].clicked = !cardboard[2][1].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[2][1].clicked}" src="img/cards/{{cardboard[2][1].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[2][2].clicked = !cardboard[2][2].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[2][2].clicked}" src="img/cards/{{cardboard[2][2].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[2][3].clicked = !cardboard[2][3].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[2][3].clicked}" src="img/cards/{{cardboard[2][3].name}}.jpg"/></div>
          </div>
          <div class="">
            <div class="col s6 m3 l3" ng-click='cardboard[3][0].clicked = !cardboard[3][0].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[3][0].clicked}" src="img/cards/{{cardboard[3][0].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[3][1].clicked = !cardboard[3][1].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[3][1].clicked}" src="img/cards/{{cardboard[3][1].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[3][2].clicked = !cardboard[3][2].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[3][2].clicked}" src="img/cards/{{cardboard[3][2].name}}.jpg"/></div>
            <div class="col s6 m3 l3" ng-click='cardboard[3][3].clicked = !cardboard[3][3].clicked'><img ng-class="{'responsive-img': true, 'clicked-card': cardboard[3][3].clicked}" src="img/cards/{{cardboard[3][3].name}}.jpg"/></div>
          </div>
          </div>
        </div>

        <div class ="col s12 m2 l3 xl4 center-align ">
          <div class="card">
            <div class="card-content  grey-text tex-darken-4">
             <span class="card-title">Players</span>
             <div class="friends-list">
               <ul class="collection">
                <li class="collection-item avatar" ng-repeat="friend in friends">
                    <img src="img/default-avatar.png" alt="" class="circle">
                    <span class="title">{{player.name}}</span>
                  </li>
              </ul>
             </div>
            </div>
          </div>

          <div class="fixed-action-btn">
            <a href="#" class="btn-big-red">¡Lotería!</a>
          </div>
        </div>
      </div>
</section>

<!-- Modal Structure -->
<div id="modal1" class="modal" style="height: 400px;">
 <div class="modal-content">
   <h3 style="center-align"> Game Over!</h4>
   <h4> Congratulations to the winners: </h3>

     <ul class="collection">
      <li class="collection-item">First Place: </li>
      <li class="collection-item">Second Place: </li>
      <li class="collection-item">Third Place: </li>
    </ul>
 </div>
</div>


</body>
</html>
