<section>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center pink-text text-accent-3">Lotería!</h1>
        <div class="row center">
          <h5 class="header col s12 dark">Play the classic mexican game online.</h5>
        </div>
        <div class="row center">
          <a href="register" id="download-button" class="btn-large waves-effect waves-light pink accent-3">Register now!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img id="header1" src="img/profile_background.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container white">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">web</i></h2>
            <h5 class="center">Tadition meets technology</h5>

            <p class="light">A taste of mexican culture.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Play with friends</h5>

            <p class="light">Invite your friends and create private game rooms.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center pink-text"><i class="material-icons">public</i></h2>
            <h5 class="center">Build up a score</h5>

            <p class="light">Compare your score with friends, people from your country or from the whole world! Will you try to get to the top?</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Pay attention and be the first to shout!</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img id="header1" src="img/loteria3.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container white">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

   <script src="/js/landingPageinit.js"></script>

</section>
