<nav class="header-section">
   <div class="nav-wrapper grey darken-3">
     <a href="#!" class="brand-logo">Profile</a>
     <ul class="right hide-on-med-and-down">
     </ul>
   </div>
 </nav>

<section>
  <div class="row">
    <div class="col s12 m2 l2">

      <div class="card profile-information">
              <div class="card-image">
                <img src="img/default-avatar.png">
                <span class="card-title">User</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add_a_photo</i></a>
              </div>
              <div class="card-content center-align  grey-text tex-darken-4 games-card">
                <p>Country</p>
                <img class="responsive-img" src="img/mexico-flag.jpg" alt="Country Flag">

                <h5><i class="material-icons">stars</i><br>Points: 9000</h5>

                <div class="col s12 m12 l12">
                  <a class="waves-effect waves-light btn ">Logg off</a>
                </div>
                <div class="row">

                </div>
                <div class="col s12 m12 l12">
                  <a class="waves-effect waves-light btn red darken-4">Delete Account</a>
                </div>
              </div>

      </div>
    </div>

      <div class="col s12 m10 l10 ">
        <div class="col s12 m6 l6">
          <div class="card ">
            <div class="card-content  grey-text tex-darken-4 games-card">
             <span class="card-title">Game Invitations</span>
              <div class="rooms-list">
                <ul class="collection">
                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 45</span>
                   <p>4 of 5 <br><b>Owner:</b> Chechare</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
                 <!-- Dummy game rooms... -------------------------------------------------------->

                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 69</span>
                   <p>2 of 5 <br><b>Owner:</b> Guazaman</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 42</span>
                   <p>1 of 5 <br><b>Owner:</b> Kimberluka</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 85</span>
                   <p>3 of 5 <br><b>Owner:</b> Luna Crecent</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 33</span>
                   <p>1 of 5 <br><b>Owner:</b>Cesar</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
                 <li class="collection-item avatar">
                   <img src="img/default-avatar.png" alt="" class="circle">
                   <span class="title">Game Room 66</span>
                   <p>3 of 5 <br><b>Owner:</b> NrML</p>
                   <a class="secondary-content waves-effect waves-light btn btn-small">Join</a>
                 </li>
               </ul>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l12 center-align">
            <div class="col s6 m6 l6">
              <a class="waves-effect waves-light btn"><i class="material-icons left">stars</i>Scores</a>
            </div>
            <div class="col s6 m6 l6">
              <a class="waves-effect waves-light btn"><i class="material-icons left">games</i>Game rooms</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content  grey-text tex-darken-4">
             <span class="card-title">Add Friend</span>

             <div class="input-field rigth ">
                 <input id="email" type="email" class="validate">
                 <label for="email">Email</label>
             </div>
             <div class="right-align">
               <a class="waves-effect waves-light btn"><i class="material-icons left">add</i>Add Friend</a>
             </div>

            </div>


          </div>
          <div class="card">
            <div class="card-content  grey-text tex-darken-4">
             <span class="card-title">Friends</span>
             <div class="friends-list">
               <ul class="collection">
                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">Chechare</span>
                  <p>Playing</p>
                </li>
                <!-- Dummy friend list... -------------------------------------------------------->

                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">Cesar</span>
                  <p>Online</p>
                </li>
                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">Guazanam</span>
                  <p>Playing</p>
                </li>
                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">Kimberluka</span>
                  <p>Bussy</p>
                </li>
                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">Luna Crescent</span>
                  <p>Offline</p>
                </li>
                <li class="collection-item avatar">
                  <img src="img/default-avatar.png" alt="" class="circle">
                  <span class="title">MrMl</span>
                  <p>Offline</p>
                </li>
              </ul>
             </div>
            </div>


          </div>
        </div>
      </div>

  </div>
</section>
