
<!-- Start your code here -->
<section>
<div class="container"> 
  <div id="crossfade">
  <img src="http://3.bp.blogspot.com/_nMIGZNhF6a4/Sowjo5GlI9I/AAAAAAAADb0/PbJVmT9hEWQ/s400/Clemente+color.jpg" alt="Image 1">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/af/50/7d/af507d41e0be2250a72a7a8b48a25ee5.jpg" alt="Image 2">
  <img src="https://s-media-cache-ak0.pinimg.com/236x/c6/30/22/c63022717d7d93ea6e8e518f0b3f04c5.jpg" alt="Image 3">
  <img src="https://s-media-cache-ak0.pinimg.com/236x/c8/63/ec/c863ec133e02ddc8faa6ef6b59b35314.jpg" alt="Image 1">
  <img src="https://s-media-cache-ak0.pinimg.com/736x/1f/dc/93/1fdc93c6ac36fc2c77766b713356695f.jpg" alt="Image 1">
</div>
   <div class="col s12 m7" id="players">
       <div class="card horizontal">
      <div class="card-stacked">
        <span class="card-title"><h3>Waiting for players</h3></span>
        <div class="card-content">
          <p>Players</p>
        </div>
        <div class="card-action">
          <a href="#">Suggest start</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>