<nav class="pink darken-2" ng-show="showNavbar">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo"><img class="header-logo" src="img/logo.png" alt="logo"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down text-grey text-lighten-5">
      <li ng-show="!logged"><a href="/register" class="text-grey text-lighten-5">Register</a></li>
      <li ng-show="!logged"><a href="/login">Login</a></li>
      <li ng-show="logged"><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>
