body{
	 background-image: url('/img/profile_background.jpg');
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
}

.content{
	width: 80%;
	padding-left: 15%;
}

table, thead, tbody{
	width: 100%;
}

thead, tbody tr {
    display: table;
    width:100%;
    table-layout: fixed;
}

tbody{
	display: block;
	width: 100%;
	max-height: 350px;
	overflow: auto;
	}
